:root {
  font-family: Arial, Inter, system-ui, Avenir, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --main: #e3027f;
  --main-hover: #b30062;
  --black: #000000;
  --white: #ffffff;
  --yellow: #ffff00;
  --gray: #00000020;

  
  color: var(--black);
  background-color: var(--white);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

button {
  width: 33vw;
  height: 100%;
  border-radius: 8px;
  border: 1px solid transparent;
  color: var(--black);
  padding: 0.6em 1.2em;
  font-size: 3rem;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--main);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--main-hover);
}

.modal{
  content: '';
  position: absolute;
  background-color: #24242483;
  z-index: 1;
  flex-direction: row;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  justify-content: center;
  align-items: center;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--yellow);
  color: var(--black);
  border-radius: 2rem;
}

.module {
  display: none;
  flex-direction: column;
  align-items: center;
}

.screen {
  display: flex;
  align-items: center;
  justify-content: center;
}

.controller{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;

  justify-content: space-between;
}

@media (orientation: landscape) {
  .orientation {
    display: none;
  }  
}

@media (orientation: portrait) {
  .orientation {
    display: flex;
  }  
}